* {
  box-sizing: border-box;
}

.bg-gray {
  background-color: #f5f7f9;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 30px;
}

.control-delete {
  min-width: 46px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;

  &.addField {
    cursor: pointer;
  }

  .count-number {
    flex: 1;
  }

  &:not(.addField):hover {
    .count-number {
      display: none;
    }

    .link-pop {
      display: block;
      visibility: visible;
      opacity: 1;
    }

  }

  .link-pop {
    display: none;
    transition: all 0.5s linear;
    opacity: 0;

    i {
      padding: 0 5px;
    }
  }

  .menu-delete {
    position: relative;
    width: 15px;

    &.show {
      .menu-delete-detail,
      .bg-cover {
        display: block;
      }
    }

    i {
      &:hover {
        color: red;
      }

      padding: 5px;
      cursor: pointer;
      font-size: 14px;
      color: #888888;
    }

    .menu-delete-detail {
      border-radius: 5px;
      overflow: auto;
      -shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
      padding: 10px;
      display: none;
      width: 190px;
      height: 150px;
      background-color: white;
      z-index: 300;
      position: absolute;
      top: 90%;
      left: 0%;

      &:hover {
        background-color: #fff;
      }

      .delete-click {
        text-align: center;
        color: black;
        cursor: pointer;
        font-weight: bold;

        &:hover {
          color: white;
          background-color: #cccccc;
        }
      }
    }

    .bg-cover {
      display: none;
      position: fixed;
      background-color: rgba(0, 0, 0, 0);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      opacity: 0;
    }
  }
}

.user-item-group {
}
.user-tittle {
  sup {
    top: -0.3em;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    padding-left: 5px;
  }

  .btn-sort {
    i {
      padding: 5px 10px;
      z-index: 5555;
      position: relative;

      &[is-next-sort] {
        transform: rotate(180deg);
      }
    }

    &:hover {
      color: white;
      background-color: #b3d4fc;

    }

  }
}



.table {
  border-radius: 0 0 5px 5px;
  border: solid 1px #e0e0e0;
  background-color: #fff;
  position: relative;
  transition: all linear 0.5s;

  &.show-add-user {
    .last-user-item {
      display: grid;
    }
  }

  .first-user-item {
    position: sticky;
    top: 0;
    z-index: 9;
    border-top: none;
    background-color: #ebedef;
  }
}

.user-load {
  position: absolute;
  top: 0;
  right: 20px;
  width: 35px;

  img {
    display: block;
    width: 100%;
  }
}

.user-item {
  display: grid;
  grid-template-columns: 50px 80px 250px 250px 1fr;
  border-top: solid #e0e0e0 1px;
  height: 36px;

  &.add-item {
    &.add-item-show {
      opacity: 0.5;
      color: black;
    }

    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #5dc6ff;
    font-size: 18px;

    &:hover {
      background-color: #f4f4f4f4;
    }
  }

  &.last-user-item {
    font-weight: bold;
    text-align: center;
    color: mediumvioletred;
    position: sticky;
    z-index: 9;
    bottom: 0;
    background-color: white;
    display: none;
  }

  &.user-item-group {
    grid-template-columns: 50px 1fr;
  }

  .user-line {
    position: relative;
    display: flex;
    align-items: center;
    border-right: solid 1px #e0e0e0;


    &.user-tittle {
      font-weight: bold;
      cursor: pointer;
      display: flex;
      justify-content: center;

      &:hover {
        background-color: #cccccc;
      }
    }

    &:last-child {
      border-right: none;
    }

    &.box-img {
      overflow: hidden;
      cursor: pointer;
      display: flex;
      justify-content: center;

      :hover {
        cursor: pointer;
      }

      img {
        height: 100%;
        width: 36px;
        border: solid 2px rgba(0, 0, 0, 0.06);
        overflow: hidden;
        border-radius: 100%;
        display: block;
      }

      input {
        margin: 0;
        opacity: 0;
        padding: 0;
        visibility: visible;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        background: red;
        cursor: pointer;
      }
    }

    .input-user {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      font-size: 18px;
      padding-left: 10px;
      padding-right: 36px;
      display: inline-block;
      background-color: transparent;

      &:hover,
      &:focus {
        background-color: #eee;
      }

      &.validate-box {
        font-weight: bold;
        background-color: #fafaef;
        border: solid 1px #7b68ee;
      }
    }

  }
}

.main-tittle {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  height: 36px;


  .count-page {
    padding: 0 20px;

  }
}

#status {
  width: 100%;

  &.status-50 {
    width: 50%;
  }
}

.status {
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  height: 36px;

  .status-left {
    display: flex;
    align-items: center;

    .status-arrow {
      padding: 10px;
      cursor: pointer;

      &:before {
        content: "▼";
        font-size: 12px;
      }

      &.status-arrow-rotate {
        transform: rotate(-90deg);
      }
    }

    .status-text {
      font-weight: bold;
      font-size: 17px;
      padding: 0 10px;
    }

    .status-method {
      align-self: flex-end;
      font-size: 12px;
      background-color: greenyellow;
      margin: 5px;
      border-radius: 8px;
      padding: 2px 5px;
    }
  }

  .status-right {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 5px 10px;
    border-radius: 5px;

    .count-item {
      color: #888888;
      padding: 0 10px;
    }
  }
}


.valid {
  width: 36px;
  position: absolute;
  right: 0;

  &:hover {
    .valid-tip {
      display: block;
    }
  }

  &.valid-show {
    display: block;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .valid-tip {
    display: none;

    .err-mess {
      text-align: center;
      font-weight: lighter;
      padding: 3px;
      border-radius: 5px;
      bottom: 50%;
      right: 80%;
      width: 150px;
      position: absolute;
      font-size: 12px;
      background-color: #555555;
      color: white;
    }
  }
}


.tooltip:focus::after,
.tooltip:hover::after {
  content: attr(aria-label);
  display: block;
}


.toggleable__content {
  max-height: 0;
  overflow: hidden;
}

.toggleable__control:checked ~
.toggleable__content {
  max-height: 100%;
}

.hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

}












