* {
  box-sizing: border-box;
}

.bg-gray {
  background-color: #f5f7f9;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 30px;
}

.control-delete {
  min-width: 46px;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  align-items: center;

  &.addField {
    cursor: pointer;
  }

  &:not(.addField):hover {
    .count-number {
      display: none;
    }

    .link-pop {
      display: block;
      visibility: visible;
      opacity: 1;
    }

  }

  .link-pop {
    display: none;
    transition: all 0.5s linear;
    opacity: 0;

    i {
      padding: 0 5px;
    }
  }

  .menu-delete {
    position: relative;

    &.show {
      .menu-delete-detail,
      .bg-cover {
        display: block;
      }
    }

    i {
      &:hover {
        color: red;
      }

      padding: 5px;
      cursor: pointer;
      font-size: 14px;
      color: #888888;
    }

    .menu-delete-detail {
      border-radius: 5px;
      overflow: auto;
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
      padding: 10px;
      display: none;
      width: 190px;
      height: 150px;
      background-color: white;
      z-index: 300;
      position: absolute;
      top: 90%;
      left: 90%;

      &:hover {
        background-color: #fff;
      }

      .delete-click {
        text-align: center;
        color: black;
        cursor: pointer;
        font-weight: bold;

        &:hover {
          color: white;
          background-color: #cccccc;
        }
      }
    }

    .bg-cover {
      display: none;
      position: fixed;
      background-color: rgba(0, 0, 0, 0);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      opacity: 0;
    }
  }
}

.table {
  border: solid 1px #e0e0e0;
  background-color: #fff;
  position: relative;

  .user-item:first-child {
    position: sticky;
    top: 0;
    z-index: 9;
    border-top: none;
    background-color: #ebedef;
  }

  .user-item:last-child {
    position: sticky;
    z-index: 9;
    bottom: 0;
    background-color: white;
  }

}

.user-item {
  display: grid;
  grid-template-columns: 50px 80px 250px 250px 1fr;
  border-top: solid #e0e0e0 1px;
  height: 36px;

  &.user-item-group {
    grid-template-columns: 50px 1fr;
  }

  .user-line {
    position: relative;
    display: flex;
    align-items: center;
    border-right: solid 1px #e0e0e0;

    &.user-tittle {
      font-weight: bold;
      cursor: pointer;
      display: flex;
      justify-content: center;

      &:hover {
        background-color: #cccccc;
      }
    }

    &:last-child {
      border-right: none;
    }

    &.box-img {
      overflow: hidden;
      cursor: pointer;
      display: flex;
      justify-content: center;

      :hover {
        cursor: pointer;
      }

      img {
        height: 100%;
        width: 36px;
        border: solid 2px rgba(0, 0, 0, 0.06);
        overflow: hidden;
        border-radius: 100%;
        display: block;
      }

      input {
        margin: 0;
        opacity: 0;
        padding: 0;
        visibility: visible;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        background: red;
        cursor: pointer;
      }
    }

    .input-user {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      font-size: 18px;
      padding-left: 10px;
      display: inline-block;
      background-color: transparent;

      &:hover,
      &:focus {
        background-color: #eee;
      }
    }

    .err-mess {
      font-weight: bold;
      font-style: italic;
      position: absolute;
      z-index: 2;
      top: 60%;
      left: 10px;
      color: red;
      font-size: 12px;
    }
  }
}















